{% extends "base.html" %}
{% load static %}
{% block style %}
{% endblock style %}

{% block content %}

  <section id="predict" class="predict">
    <br>
    <br>
    <div class="container">
      <div class="row">
      <form class="form-group col-md-12" action="{% url "predict" %}" id="identify_form" method="post">
        {% csrf_token %}
        <div class="col-md-6">
        <textarea class="form-control" name="text" placeholder="Write a question..." rows="6"></textarea>
        </div>
        <br>
        <div class="btn-group col-md-6" role="group">
          <button type="button" href="{% url "home" %}" class="btn btn-secondary">Back</button>
          <input class="btn btn-info" type="submit" value="Submit">
        </div>
      </form>
      </div>
      <div class="row">
        <div class="col-4">
          <p>Original text: {{ sentence }}</p>
          <p>Result: {{ result }}</p>
          {% if result == 0 %}
            {% elif result < 0.15 %}
            <p><i class="fa fa-lg fa-check"></i></p>
            {% elif result > 0.15 %}
            <p><i class="fa fa-lg fa-remove"></i></p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}


