{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
{% endblock style %}

{% block content %}
{#  <section id="predict" class="predict">#}
{#    <br>#}
{#    <br>#}
{#    <div id="app" class="container">#}
{#        <form class="" id="identify_form" method="post" enctype="multipart/form-data">#}
{#          {% csrf_token %}#}
{#          <div class="input-group col-md-6 col-center-block">#}
{#            <div class="custom-file">#}
{#              <input type="file" class="custom-file-input" name="image" @change="getFile1" id="image_file1" aria-describedby="inputGroupFileAddon01">#}
{#              <label class="custom-file-label" for="image_file1">Choose file</label>#}
{#            </div>#}
{#          </div>#}
{#          <br>#}
{#        </form>#}
{#        <br>#}
{#        <div class="col-md-6 col-center-block">#}
{#          <button type="button" href="{% url "home" %}" class="btn btn-secondary">Back</button>#}
{#          <button type="button" @click="submit" class="btn btn-info">Identify</button>#}
{#          <br>#}
{#          <br>#}
{#          <span id="showprediction"></span>#}
{#          <br>#}
{#          <br>#}
{#        </div>#}
{#        <div class="row">#}
{#          <div class="col-md-6 col-center-block">#}
{#            <img class="img-responsive" id="img1" :src="src1" hidden>#}
{#          </div>#}
{#        </div>#}
{#    </div>#}
{#  </section>#}

  <section id="predict" class="predict">
    <br>
    <br>
    <div class="container">
      <div class="row">
      <form class="form-group col-md-12" action="{% url "predict" %}" id="identify_form" method="post">
        {% csrf_token %}
        <div class="col-md-6">
        <textarea class="form-control" name="text" placeholder="Create new notes by voice or keyboard input..." rows="6"></textarea>
        </div>
        <br>
        <div class="btn-group col-md-6" role="group">
          <button type="button" href="{% url "home" %}" class="btn btn-secondary">Back</button>
          <input class="btn btn-info" type="submit" value="Submit">
        </div>
      </form>
      </div>
      <div class="row">
        <div class="col-4">
          <p>Original text: {{ sentence }}</p>
          <p>Result: {{ result }}</p>
          {% if result == 0 %}
            {% elif result < 0 %}
            <p><i class="fa fa-lg fa-check"></i></p>
            {% elif result > 0 %}
            <p><i class="fa fa-lg fa-remove"></i></p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}


